[submodule "include/blf"]
	path = include/blf
	url = https://github.com/Functionable/BlurLevelFormat.git
[submodule "include/catch2"]
	path = include/catch2
	url = https://github.com/catchorg/Catch2.git
